# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Visual Studio/Code
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb

# OS
.DS_Store
.vs/
.gradle/

# Builds
*.apk
*.unitypackage

# JetBrains
/[Aa]ssets/Plugins/Editor/JetBrains*

# Addressables
/[Aa]ssets/AddressableAssetsData/*/*.bin*

# Crashlytics
crashlytics-build.properties

